<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Menu</title>

</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/user}">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/all}"> All Structure </a></li>
                        <li><a th:href="@{/duration}"> Duration </a></li>
                        <li><a th:href="@{/allowance}"> Allowance </a></li>
                        <li><a th:href="@{/rating}"> Rating </a></li>
                        <li><a th:href="@{/diagram}"> Diagram </a></li>
                        <li><a th:href="@{/active}" th:if="${#httpServletRequest.getRemoteUser().startsWith('admin')}">
                            Active Employee
                        </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/beforeLogOut}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
    <a th:href="@{/all}"> All Structure </a> <br>
    <a th:href="@{/duration}"> Duration </a> <br>
    <a th:href="@{/allowance}"> Allowance </a> <br>
    <a th:href="@{/active}"> Active Employee </a> <br>
    <a th:href="@{/rating}"> Rating </a> <br>
</div>
</body>
</html>