<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags" >
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>

</head>
<body>

<div th:include="menu :: header"></div>

<br>

<div sec:authorize="hasRole('ADMIN')">
    This content is only shown to administrators.
</div>

<div sec:authorize="hasRole('USER')">
    This content is only shown to users.
</div>

<br> <i> <b> Info Users: </b> </i> <br>

Name : <span th:utext="${name}"></span> <br>
User : <span th:utext="${user}"></span> <br>
Role : <span th:utext="${role}"></span> <br>
<br>

<div class="container">

    <div class="starter-template">
        <form th:action="@{/log}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>


</body>
</html>